<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.laosao.two"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- 摄像头控制 -->
	<uses-permission android:name="android.permission.CAMERA"/>
	<!-- <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> -->
	<!-- <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> -->
	<uses-permission android:name="android.permission.FLASHLIGHT"/>
	<uses-permission android:name="android.permission.VIBRATE"/>

	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>
	<!-- Bmob权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<!-- 小米更新sdk -->
	<uses-permission android:name="com.xiaomi.market.sdk.UPDATE"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name=".GuideActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity
			android:name=".activitys.MainActivity"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activitys.CustomContentActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.PictureActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.NetCardActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.GeneralCardActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.TxtActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.UrlActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.SmsActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.EmailActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.FeedBackActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.CreateActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.result.PicResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.result.TextResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name=".activitys.result.NetCardResultActivity"
			android:screenOrientation="portrait"/>
		<activity
			android:name="com.zbar.lib.CaptureActivity"
			android:screenOrientation="portrait"/>
		<activity android:name=".activitys.WifiActivity">
		</activity>
		<!-- 小米接收更新的receiver -->
		<receiver android:name="com.xiaomi.market.sdk.DownloadCompleteReceiver">
			<intent-filter>
				<action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
			</intent-filter>
		</receiver>

		<activity android:name=".activitys.AudioActivity">
		</activity>
		<activity android:name=".activitys.result.AudioResActivity">
		</activity>
		<activity android:name=".activitys.AboutInfoActivity">
		</activity>
	</application>

</manifest>
